.wrapper {
  max-width: 767px;
  box-sizing: border-box;
  margin: auto;
  font-family: "Poppins", sans-serif;
  font-size: 100%;
}

img {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: #000;
}

.main-header {
  width: auto;
  height: 30px;
  padding: 18px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__hb {
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
  }

  &__hb {
    #hb {
      display: none;
    }
  }

  &__hb-icon {
    span,
    span:before,
    span:after {
      cursor: pointer;
      height: 1px;
      background-color: #518432;
      content: ""; //配合偽元素用
      position: absolute;
      top: 50%;
    }
    span {
      width: 20px;
    }
    span:before {
      width: 30px;
      top: -4px;
    }
    span:after {
      width: 10px;
      top: 4px;
    }
  }

  &__logo {
    width: 135px;
  }

  &__function {
    display: flex;
    align-items: center;
    justify-content: space-around;
    a{
      display: block;
      width: fit-content;
    }
  }

  &__func-item {
    padding: 0px 5px;

    .fa-solid,
    .fa-regular {
      color: #518432;
    }
  }
  

  &__nav-menu {
    display: none;
  }
}

.main-header__function li:nth-last-of-type(2){
  display: none;
}

#hb:checked .main-header__nav-menu {
  display: block;
}

.banner {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  position: relative;
  padding: 5%;
  background-image: url(image/banner_bcg.png);

  &__content {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin: auto;
  }

  &__container-txt {
    padding-left: 30px;
    position: absolute;
    left: 0;
    z-index: 1;

    h2 {
      margin-bottom: 16px;
      line-height: 1.2;
      font-size: 2rem;
      font-weight: 300;
    }
    span {
      display: block;
      margin-bottom: 20px;
      font-size: 1rem;
      font-weight: 300;
    }
  }

  &__wrap-img {
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    right: 0;

    img {
      display: block;
      width: 100%;
      height: 100%;
      z-index: 0;
    }
  }

  &__shopnow-btn {
    display: inline-block;
    width: fit-content;
    letter-spacing: 4px;
    padding: 14px 40px;
    border-radius: 2px;
    background-color: #000;
    color: #fff;
    font-size: 0.75rem;
    &:hover {
      background-color: #2dbbf0;
      transition: 0.5s;
    }
  }
}

.benefit {
  box-sizing: border-box;
  padding: 0px 15px;
  margin: auto;
  margin-bottom: 40px;

  &__heading {
    &--primary {
      color: #518432;
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 20px;
      text-align: center;
    }

    &--secondary {
      margin-bottom: 10px;
      color: #333333;
      font-size: 1.3rem;
      text-align: center;
      font-weight: 600;
    }
  }

  &__list {
    box-sizing: border-box;
  }

  &__descr {
    font-size: 0.875rem;
    line-height: 1.3;
    color: #949494;
    text-align: center;
    margin: 0px auto 20px;
  }

  &__img {
    box-sizing: border-box;
    margin: auto;
    width: 60%;
    margin-bottom: 40px;

    a {
      display: block;
      width: 100%;
    }
    img {
      display: block;
      width: 100%;
    }
  }
}

.product {
  width: auto;
  margin: auto;

  &__heading {
    text-align: center;
    font-size: 1.875rem;
    color: #518432;
    margin-bottom: 40px;
    font-weight: 600;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
  }

  &__item {
    box-sizing: border-box;
    // width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      width: fit-content;
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-heading {
      font-size: 1rem;
      margin-bottom: 20px;
    }
  }

  &__item-img {
    margin-bottom: 18px;
    position: relative;
    z-index: 0;
    margin-bottom: 15px;
    img {
      width: 100%;
      height: 100%;
    }
    &:hover .product__img-shade {
      z-index: 1;
      opacity: 0.9;
    }
  }

  &__img-shade {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: white;
    opacity: 0;
    z-index: -1;
    transition: 0.5s;
  }

  &__price-group {
    display: flex;
    margin-bottom: 25px;
    align-items: center;
    span {
      display: inline-block;
      text-align: center;
    }
  }

  &__price-item {
    color: #333333;
    padding: 10px;

    &--original {
      font-size: 0.75em;
      margin: 0px 5px;
      vertical-align: middle;
    }

    &--sale {
      font-size: 1rem;
    }
  }

  &__item-tag {
    &--sale {
      background-color: #518432;
      border-radius: 20px 0;
      position: absolute;
      font-size: 0.7rem;
      color: white;
      padding: 0.6rem;
      top: 0;
      right: 0;
      z-index: 2;
    }
    &--sold-out {
      background-color: #518432;
      position: absolute;
      font-size: 0.7rem;
      color: white;
      padding: 0.6rem;
      top: 2rem;
      left: 0;
      z-index: 2;
    }
  }
}

.recommended {
  display: flex;
  flex-wrap: wrap;
  padding: 100px 50px;
  margin-bottom: 40px;
  background-image: url(image/recommended.png);

  &__content-txt {
    flex-grow: 1;
  }
  &__heading {
    font-size: 1.5rem;
    color: #518432;
    margin-bottom: 20px;
  }

  &__descr {
    font-size: 1rem;
    color: #212529;
    margin-bottom: 20px;
    line-height: 1.5;
  }

  &__shopnow-btn {
    display: block;
    width: fit-content;
    padding: 15px 40px;
    border: 1px solid #333333;
    font-size: 0.875rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;

    &:hover {
      background-color: #518432;
      color: #fff;
      transition: 0.5s;
    }
  }
  &__video {
    width: 100%;
    aspect-ratio: 1.6/1;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.shop-instagram {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  margin: auto;

  .fa-brands {
    display: block;
    font-size: 55px;
    text-align: center;
    padding-bottom: 30px;
  }

  &__heading {
    font-size: 1.875rem;
    font-weight: 600;
    letter-spacing: 3px;
    text-align: center;
    padding-bottom: 60px;
  }

  &__img-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &__img {
    box-sizing: border-box;
    margin-bottom: 20px;
    z-index: 0;

    img {
      width: 100%;
      vertical-align: top;
    }

    a {
      display: block;
      position: relative;
    }
  }

  &__img-shade {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #404040;
    opacity: 0;
    z-index: -1;
    transition: 0.5s;
  }
  &__img:hover .shop-instagram__img-shade {
    z-index: 1;
    opacity: 0.3;
  }
}

.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  margin: auto;
  padding: 47px 15px 68px;
  background-color: #f4f4f4;

  &__logo {
    display: block;
    width: 160px;
    margin: 0px auto 32px;
    img {
      width: 100%;
    }
  }

  &__sitemap-list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 35px;
    a {
      font-size: 0.75rem;
      letter-spacing: 2px;
      padding: 0px 20px;
      font-weight: 600;
    }
  }
  &__social-media-list {
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
  }
  &__social-media-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    margin: 0px 6px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: solid 2px #222222;
    position: relative;
    transition: 0.4s;
    z-index: 0;

    a {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      margin: auto;
      color: #fff;
      text-align: center;
      line-height: 45px;
      position: relative;
      z-index: 1;
    }

    &:hover {
      background-color: #518432;
    }
  }

  address {
    text-align: center;
    font-size: 0.8rem;
    color: #aaa9a9;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    max-width: 992px;
  }

  .benefit {
    &__container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    &__img {
      display: block;
      width: 60%;
      order: -1;
    }
  }

  .benefit__list:nth-of-type(1) .benefit__item {
    .benefit__heading {
      &--secondary {
        text-align: right;
      }
    }

    > .benefit__descr {
      text-align: right;
      margin: 0px auto 40px;
    }
  }

  .benefit__list:nth-of-type(2) .benefit__item {
    .benefit__heading {
      &--secondary {
        text-align: left;
      }
    }

    > .benefit__descr {
      text-align: left;
      margin: 0px auto 40px;
    }
  }
}

.recommended {
  &__content-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__shopnow-btn {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 992px) {
  .wrapper {
    max-width: 1200px;
  }

  .benefit {
    &__container {
      justify-content: center;
      align-items: center;
      display: flex;
    }

    &__img {
      width: 33%;
      order: 0;
    }
  }

  .banner {
    &__container-txt {
      h2 {
        font-size: 3rem;
      }
      span {
        font-size: 1.5rem;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    max-width: 1440px;
  }

  .main-header {
    padding: 28px 15px;
    &__nav {
      display: flex;
      align-items: center;
    }

    &__hb {
      display: none;
    }

    &__nav-menu {
      display: block;
    }
    &__function{
      a{
        display: block;
        width: fit-content;
      }
    }
    .main-header__function li:nth-last-of-type(2){
      display: block;
    }
  }

  .nav {
    display: flex;
    align-items: center;

    &__list {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    &__item {
      display: block;
      padding: 0px 18px;
      line-height: auto;
      a {
        text-align: center;
        font-size: 0.93rem;
        position: relative;
      }
    }

    &__item:nth-of-type(3),
    &__item:nth-of-type(5) {
      a::after {
        content: "New";
        width: 80%;
        height: 80%;
        display: block;
        position: absolute;
        background-color: #2dbbf0;
        color: white;
        margin-top: -2.2rem;
        margin-left: 2rem;
        font-size: 0.8rem;
      }
    }
  }
}
