.wrapper {
  max-width: 768px;
  box-sizing: border-box;
  margin: auto;
  font-family: "Poppins", sans-serif;
}

li {
  display: block;
}
img {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: #000;
}

.main-header {
  width: auto;
  height: 30px;
  padding: 18px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__hb {
    width: 30px;
    height: 30px;
    position: relative;
  }

  &__hb-icon {
    span,
    span:before,
    span:after {
      cursor: pointer;
      height: 1px;
      background-color: #518432;
      content: ""; //配合偽元素用
      position: absolute;
      top: 50%;
    }
    span {
      width: 20px;
    }
    span:before {
      width: 30px;
      top: -4px;
    }
    span:after {
      width: 10px;
      top: 4px;
    }
  }

  &__hb {
    #hb {
      display: none;
    }
  }

  &nav--desktop {
    display: none;
  }

  &nav--mobile {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  &list--mobile {
    display: none;
  }

  &__logo {
    width: 135px;
  }

  &__function {
    display: flex;
    align-items: center;
  }

  &__func-item {
    padding: 0px 5px;

    .fa-solid,
    .fa-regular {
      color: grey;
    }
  }
}

.banner {
  display: flex;
  align-items: center;
  max-width: auto;
  min-height: 500px;
  margin-bottom: 40px;
  position: relative;
  padding: 15px;

  &__wrap-img {
    height: auto;
    display: flex;
    justify-content: center;
    padding: 5% 0% 5% 30%;

    img {
      width: 100%;
      height: 100%;
      z-index: 0;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__container-txt {
    padding-left: 30px;
    position: absolute;
    // top: 0;
    // bottom: 0;
    // margin: auto 0px;
    z-index: 1;

    h2 {
      margin-bottom: 16px;
      line-height: 1.2;
      font-size: 35px;
      font-weight: 300;
    }
    span {
      display: block;
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: 300;
    }
  }

  &__shopnow-btn {
    display: inline-block;
    width: fit-content;
    letter-spacing: 4px;
    padding: 14px 40px;
    border-radius: 2px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
  }
}

.benefit {
  width: auto;
  padding: 0px 15px;
  margin-bottom: 40px;

  &__heading {
    &--primary {
      color: #518432;
      font-size: 25px;
      margin-bottom: 20px;
      font-weight: 400;
      text-align: center;
    }

    &--secondary {
      margin-bottom: 10px;
      color: #333333;
      font-size: 23px;
      text-align: center;
    }
  }

  &__descr {
    width: 80%;
    font-size: 14px;
    line-height: 1.3;
    color: #949494;
    text-align: center;
    margin: 0px auto 40px;
  }

  &__img {
    width: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    img {
      width: 100%;
    }
  }
}

.product {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: auto;
  display: flex;

  &__heading {
    text-align: center;
    font-size: 30px;
    color: #518432;
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
  }

  &__item {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 15px;
    }
  }
  &__item-img {
    margin-bottom: 18px;
    img {
      width: 100%;
    }
  }

  &__price-group {
    display: flex;
    margin-bottom: 25px;
    align-items: center;
    span {
      display: inline-block;
      text-align: center;
    }
  }

  &__price-item {
    color: #333333;
    padding: 10px;

    &--original {
      font-size: 12px;
      margin: 0px 5px;
      vertical-align: middle;
    }

    &--sale {
      font-size: 17px;
    }
  }
}

.recommended {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 100px 15px;
  margin-bottom: 40px;
  background-image: url(image/recommended.png);

  &__content-txt {
    flex-grow: 1;
  }
  &__heading {
    font-size: 25px;
    color: #518432;
    margin-bottom: 20px;
  }

  &__descr {
    font-size: 16px;
    color: #212529;
    margin-bottom: 20px;
  }

  &__shopnow-btn {
    display: block;
    width: fit-content;
    padding: 15px 40px;
    border: 1px solid #333333;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
  }
  &__video {
    flex-grow: 1;

    iframe {
      width: 560px;
      aspect-ratio: 560/315;
    }
  }
}
.shop-instagram {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  margin: auto;

  .fa-brands {
    display: block;
    font-size: 55px;
    text-align: center;
    padding-bottom: 30px;
  }

  &__heading {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 3px;
    text-align: center;
    padding-bottom: 60px;
  }

  &__img-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__img {
    box-sizing: border-box;
    width: 30%;
    margin-bottom: 20px;
  }
}

.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  margin: auto;
  padding: 47px 15px 68px;
  background-color: #f4f4f4;

  &__logo {
    display: block;
    width: 160px;
    margin: 0px auto 32px;
    img {
      width: 100%;
    }
  }

  &__sitemap-list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 32px;
  }

  &__social-media-list {
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
  }
  &__social-media-item {
    margin: 0px 6px;
  }
  address {
    text-align: center;
  }
}